<h1>Student Form</h1>

<form>
    <label>Student first name:</label>
    <input type="text" id="student_first_name" name="student[first_name]">

    <label>Student last name:</label>
    <input type="text" id="student_last_name" name="student[last_name]">

    <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>